
div#container {
  width: 1000px;
  height: 1000px;

  margin-left: auto;
  margin-right: auto;
  position: relative;

  overflow: hidden;
}

div.layer {
  position: absolute;
  pointer-events:none;
  
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

div#layer-bg {
  width: 792px;
  height: 612px;

  background-image: url('../img/velard/fondo.png');
}

div#layer-1 {
  width: 63px;
  height: 63px;

  left: 250px;
  top: 80px;

  background-image: url('../img/velard/luna.png');
}

div#layer-2 {
  width: 163px;
  height: 89px;

  left: 200px;
  top: 80px;

  background-image: url('../img/velard/nube_chiquita.png');
}

div#layer-3 {
  width: 537px;
  height: 230px;

  left: 150px;
  top: 280px;

  background-image: url('../img/velard/nube.png');
}

div#layer-4 {
  width: 333px;
  height: 451px;

  left: 250px;
  top: 120px;

  background-image: url('../img/velard/capri.png');
}*/


